*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif ;
    border: border-box;
;

}
.navbar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    

}
.navlogo{
    height: 50px;
    width: 113px;
}
.logo{
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;

}
.border{
    border: 2px transparent white;

}
.border:hover{
    border: 1.2px solid white;
    border-radius: 2px;
}
.nav-adress{
    color: whitesmoke;
margin-left: 15px;}
.add-first{
    color: #cccc;
    font-size: 12px;
    margin-left: 16px;
}
.add-sec{
    color: #ffff;
    font-size: 14px;
    margin-left: 5px;
    font-weight: 700;
}
.addicon{
    display: flex;
    align-items: center;
}
.navsearch{
    display: flex;
background-color: pink;
justify-content: center;
height: 40px;
width: 620px;
margin-left: 55px;
border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-select:hover{
    border: 2px solid orange;
}
.search-input{
    width: 100%;
    font-size: large;
    border:none;
    
    }
    .searchicon{
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        background-color: #febd68;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    
 .navlang{
    height: 33px;
    width: 55.38px;
    color: white;
    font-size: 14px;
    margin-top: 19px;
    margin-left: 4%;
 }
 .nav-sign{
    color: white;
    font-weight: 700;
    margin-left: 15px;
 }
span{
    font-size: 0.7rem;
}
.second{
    font-size: 0.8rem;
}
.navreturn{
    color: white;
    margin: 15px;
}
.navsearch:hover{
    border: 2px solid orange;
}
.navcart{
    color: white;
    display: flex;
margin-left: 20px;}
.navcart i{
 font-size: 30px;
 font-weight: 600;

}
.font{
    font-size: 20px;

}
.pannel{
    background-color: #222f3d;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;   
    color: whitesmoke;
}
.pannel-all{
    padding: 3px;
}
.pannelop{
    display: flex;
    font-size: 0.85rem;
    width: 80%;
}
.pannelop p{
    margin-left: 15px;
    padding: 2px;
}
.
.shop-deals{
    font-size: 1rem;
}
.hero-sec{
    background-image: url("hero_image.jpg");
    height: 600px;
    background-size: cover;
}
.hero-add{
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;    
    justify-content: center;
}
.hero-add a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}