*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif ;
    border: border-box;
;

}
.navbar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    align-items: center;

}
.navlogo{
    height: 50px;
    width: 113px;
}
.logo{
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;

}
.border{
    border: 2px transparent white;

}
.border:hover{
    border: 1.2px solid white;
    border-radius: 2px;
}
.nav-adress{
    color: whitesmoke;
}
.add-first{
    color: #cccc;
    font-size: 12px;
    margin-left: 16px;
}
.add-sec{
    color: #ffff;
    font-size: 14px;
    margin-left: 5px;
}
.addicon{
    display: flex;
    align-items: center;
}
.